<aside class="docs-sidebar">
    <h3>Astral</h3>
    <ul>
        <li><a href="{{ site.baseurl }}/docus/astral">General Usage</a></li>
        <li><a href="{{ site.baseurl }}/docus/recipes">Writing Recipes</a></li>
    </ul>

    <h3>Horizon</h3>
    <ul>
        <li><a href="{{ site.baseurl }}/docus/horizon">Bootstrap Logic</a></li>
        <li><a href="{{ site.baseurl }}/docus/stages">Build Stages</a></li>
    </ul>

    <h3>System</h3>
    <ul>
        <li><a href="{{ site.baseurl }}/docus/init">Init System</a></li>
    </ul>
</aside>
